/*#section-center{
    padding: 10%;
    padding-top: 20%;
}

.imagen img{
    width: 80%;
    height: 80%;
}

.item-nombre{
    display: inline-block;
    border: 2px solid blue;
    background-color: white;
    width: 20%;
    box-sizing: border-box;
    text-align: center;
    padding: 1%;
}*/

.imagen img{
    max-width: 40%;
    border-radius: 100%;
    border-style: inset;
    float: left;
    margin-right:15px ;
}

.cardContainer{
    border: 5px solid white;
    box-sizing: border-box;
    color: black;
    float:left;
    margin: 2.3%;
    margin-top: 5%;
    padding: 1em;
    vertical-align: top;
    width: 25.33%;
    background-color: rgb(197, 158, 114);
    border-radius: 10%;
    margin-bottom: -3%;
    height: 250px;
    
    
}
h2{
    text-align: center;
    font-size: 16px;
    width: min-content;
    width: 20vw;
    padding: 2px 5px;
    white-space: normal;
    margin: 1rem;
}

.info{
   margin-top: -15px; 
  
}
p{
    line-height: 1.3em; 
    font-size: 15px; 
}
    




